:root {
  font-size: 62.5%;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  --primary-color: #2A2A2A;
  --primary-color2: #FFFFFF;
  --primary-color3: #74C5FF;
  --primary-color4: #FF6D8D;
  --primary-color5: #2580C1;
  --primary-color6: #FFF2D6;
  --primary-color7: #6A19F5;
  --primary-color8: #F9523B;
  --primary-color9: #F6C55A;
  box-sizing: border-box;
  min-width: 375px; 
}

* ::after,
::before {
  box-sizing: inherit;
  margin: 0;
}

.class-color1 {
  background-color: var(--primary-color3);
  padding-top: 3.7rem;
  padding-bottom: 3.05em;
}

.class-color2 {
  background-color: var(--primary-color4);
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.Testimonials {
  margin-top: 5rem;
  margin-bottom: 5rem;
  letter-spacing: 0.05em;
}

.class-color3 {
  background-color: var(--primary-color5);
  padding-top: 5.05rem;
  padding-bottom: 4.75rem;
  height: auto;
}


.class-color4 {
  background-color: var(--primary-color6);
  padding-bottom: 4.45rem;
}

.final-text {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

#button {
  color: var(--primary-color2);
  font-weight: 600;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 0;
  width: 100%;
  background-color: var(--primary-color7);
  max-width: 34.5rem;
  min-width: 15.7em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: list-item;
  padding-bottom: 1.6rem;
  padding-top: 1.5rem;
  line-height: 2.1rem;
  margin: 0 auto;
  /* box-shadow: -50px 0px rgba(0,0,0,0.5); */
}

.button-support {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

* {
  margin: 0;
}

h1 {
  color: var(--primary-color);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3rem;
  margin-top: 1.06em;
  height: 1.17em;
}

h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 2rem;

  letter-spacing: 0.15rem;
  line-height: 3.9rem;
  text-align: center;
}

p {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-style: normal;
  line-height: 150%;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

ol {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  flex-wrap: nowrap;
  list-style-type: none;
  padding: 0;
}

ul {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  list-style-type: none;
}

li {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  margin-left: 2rem;
}

.li-left {
  margin-left: 7.1rem;
  padding: 0;
}

.li-right {
  margin-right: 4.5em;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

header {
  height: 6.5rem;
}

.classroom {
  margin: 8.2rem 0 12.2rem 0;
}

.class-david {
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

#david-2 {
  margin-top: 0.17em;
  margin-bottom: 3rem;
}

.class-white {
  color: var(--primary-color2);
}

.class-center {
  text-align: center;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.class-c {
  opacity: 0.3;
  line-height: 150%;
  margin-top: 3rem;
  font-size: 3rem;
}

#id-make-magical {
  font-size: 2.86rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 130%;
  margin-left: 2rem;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  -webkit-background-clip: text;
}



.lead1 {
  flex-direction: column;
  padding: 0 1.5rem;
  margin: 5rem auto 10rem auto;
}

.leadpc {
  justify-content: space-between;
}

.button-attend {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.math-p {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.learn-more-button {
  margin-bottom: 5.25rem;
  margin-top: 5.125rem;
}

.mathpoolis {
  margin-top: 2rem;
  margin-bottom: 4.3rem;
}

.A-math-festival {
  padding-top: 3.25rem;
  padding-bottom: 10.588rem;
}

header {
  min-height: 65px;
  object-fit: contain;
  object-position: left top;
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-header {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.warning {
  display: flex;
  height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  align-self: flex-end;

}

.volun {
  justify-content: center;
  align-items: flex-start;
}

.warning img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.warning button {
  justify-content: flex-end;
  margin-bottom: 0;
  border: 0;
  background-color: var(--primary-color2);
  padding: 0;
}

.img-volunteers {
  width: 97%;
}

.img-lead {
  width: 91%;
}

.img-run {
  width: 96%;
}

.img-host {
  width: 98%;
}

.play-a-puzzle {
  padding-bottom: 5rem;
  padding-top: 2.5rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.icon {
  display: flex;
  margin-bottom: 1.5rem;
  flex-wrap: nowrap;
  flex-direction: row;
}

#follow {
  margin-bottom: 1rem;
}

.form-start{
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  line-height: 167%;
  padding: 3.5rem;
  align-items: stretch;
  max-width: 62rem;
  margin: 0 auto;
  text-align: left;
}

input[type="submit"],
button {
  margin-top: 1em;
  margin-right: 2em;
  transition: transform 1s, background-color 0.5s;
}

input[type="submit"]:hover,
button:hover {
  background-color: tomato;
  transform: scale(1.2);
  cursor: pointer;
}

button:disabled {
  transform: initial;
  background-color: lightgray;
}

.form-start input[type=text], input[type=date], input[type=password], input[type=email], input[type=tel]{
  background-color: var(--primary-color6);
  display: block;
  min-width: 25rem;
  min-height: 6rem;
  border-radius: 5rem;
  padding-left: 1.81em;
  margin-bottom: 1.5rem;
  max-width: 62rem;
}

.form-button{
  color: var(--primary-color2);
  font-weight: 600;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 0;
  width: 100%;
  background-color: var(--primary-color7);
  max-width: 34.5rem;
  min-width: 15.7em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: list-item;
  padding-bottom: 1.6rem;
  padding-top: 1.5rem;
  line-height: 2.1rem;
  margin-top: 2rem;
}

label{
  font-size: 2rem;
  margin: 0.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form-p
{
  font-size: 2.5rem;
  margin: 0.5rem;
}

legend{
  font-size: 2.5rem;
  margin: 0.5rem;
}


input:hover {
  background-color: var(--primary-color9);
}

::placeholder {
  color: var(--primary-color7);
}

blockquote{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.08rem;
  text-align: center;
  /* padding: 0 3.4rem; */
  margin: 0rem auto 0rem auto;
}

button:hover {
  transform: scale(1.1);
}

button:active{
  transform: scale(2.9);
}

::selection{
  background-color: rgba(137, 43, 226, 0.445);
  color: aliceblue;
}

fieldset {
  display: flex;
  /* flex-direction: column; */
}

fieldset label{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1.5rem;
}

input{
  margin-right: 1rem;
}

.header {
  display: flex;
  Display: none;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  min-width: 80rem;
}

.leadpc {

  align-items: center;
  flex-wrap: nowrap;
}


.lead {
  text-align: left;
  font-size: 3rem;
  line-height: 3.9rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.learn-button{
  display: none;
}


.classroom {
  min-width: 41.1rem;
  margin: 15.375rem 0 22.875rem 0;
}

#run {
  font-size: 3rem;
  font-weight: 600;
  line-height: 5.07rem;
  margin-top: 2.9rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05em;
  text-align: center;
}

#lead-virtual {
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;
  margin-top: 2rem;
}

.imgClass {
  min-width: 69.45rem;
  min-height: 49.66rem;
  margin-top: 10.95rem;
}

.imgdiv {
  /* display: flex; */
  justify-content: center;
  margin: 0 auto;
}


.radio {
  margin:0 auto;
  width: 5rem;
  display: flex;
  justify-content: space-between;
}

footer img{
  width: 69%;
}

.icon li{
  margin: 0;
  width: 100%;
}

.foot-img{
  width: 89%;
  margin-left: 3rem;
  margin-top: 3rem;
}
.head-button{
display: none;
}

.inp1{
  margin: 0;
  width: 1rem;
  height: 1rem;
}

html, body { height: 100%;}
    
body > footer {
position: sticky;
top: 100vh;
}

@media (min-width:1920px) {
  header {
    min-height: 13.5rem;
    justify-content: space-between;
    margin-left: 1.5rem;
  }
  
  .img-header{
    min-width: 26.0rem;
    margin-left: 25rem;
    width: 58%;
    padding: 0;
  }

  .li-right{
    
margin-left: 10rem;
  }

.li-left{
  margin-right: 10rem;
}

.warning {
  display: none;
}

  h1 {
    font-size: 9.6rem;
    font-weight: 500;
    line-height: 10.9rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  p{
    font-size: 2rem;
  }

  .volunteers {
    padding-left: 24rem;
    padding-right: 8.9rem;
    margin: 14.9rem 0 14.9rem 0;
    justify-content: start;
  }

  .volun {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .learn-button
  {
    color: var(--primary-color1);
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: 0;
    padding-left: 4.95rem;
    padding-right: 4.95rem;
    background-color: var(--primary-color9);
    margin-right: 24rem;
    text-align: center;
    display: list-item;
    padding-bottom: 1.6rem;
    padding-top: 1.5rem;
    line-height: 2.1rem;
    list-style-type: none;
    width: auto;
  }

  .img-volunteers {
    margin-right: 16.56rem;
    margin-bottom: 4.5rem;
    width: 89%;
  }

  #id-make-magical {
    font-size: 3.2rem;
    line-height: 130%;
  }

  .mathpoolis {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
    max-width: 69.6rem;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    padding: 18.5rem 24.2rem 10rem 24.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 6.76rem;
    text-align: start;
    min-width: 58.9rem;
    margin-left: 0;
  }

  .class-center {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    text-align: center;
    padding: 0;
    margin: 8rem auto 6rem auto;
  }

  .class-david {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-align: center;
  }

  #david-2 {
    margin: 0.5rem auto 3rem auto;
  }


  .lead1 {
    display: flex;
    width: 58.9rem;
    padding: 0;
    justify-content: start;
    margin-top: 14.36rem;
    flex-direction: column;
  }

  .header{
    display: flex;
  }

  #button {
    line-height: 2.1rem;
    text-align: left;
    margin: 0;
    max-width: 28.4rem;
    display: flex;
    justify-content: space-around;
  }

  .head-button{
    color: var(--primary-color2);
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: 0;
    padding-left: 4.2rem;
    padding-right: 4.2rem;
    background-color: var(--primary-color8);
    margin-right: 24rem;
    text-align: center;
    display: list-item;
    padding-bottom: 1.6rem;
    padding-top: 1.5rem;
    line-height: 2.1rem;
    box-shadow: 0.5rem 0.5rem 3rem 0.5rem #dddddd;
    }

  .lead {
    text-align: left;
    font-size: 5.2rem;
    line-height: 6.76rem;
  }

  .final-text{
    max-width: 30.8rem;
    margin-left: 0;
    margin-top: 2rem;
  }

  .icon li{

width: 78%;

}

.Testimonials{
  text-align: center;
}

  .icon{  
justify-content: flex-start;
padding: 0;
  }

  #follow{
  text-align: start;
  margin-left: 0;
  }

  .foot1{
    display: flex;
    flex-direction: column;
  }

  .foot-big{
    display: flex;
    justify-content: space-around;
  }

  .foot2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .imgdiv{
    margin: 0;
  }
  .foot-img{
    width: 101%;
    margin-left: 0;
    margin-top: 3.9rem;
  }

  .img-host{
    width: 100%;
    display: flex;
  }

  .img-lead{
    margin: 0;
    width: 100%;
  }

  .img2 {
    width: 929px;
    height: 1017px;
  }

  .img-run{
    width: 100%;
  }

  .leadpc {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .classpc {
    /* margin-left: 24.5rem; */
    /* margin-right: 10.7rem; */
    /* margin-top: 14.6rem; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
  }

  .classroom {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  #run{
    text-align: left;
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 6.76rem;
    min-width: 51.2rem;
    margin: 0;
  }

  #lead-virtual{
    font-size: 2rem;
    margin: 0;
  }

  .col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 54.8rem;
  }

  .fest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 23.9rem;
  }

  .math-p{
    min-width: 58.9rem;
    margin: 0;
    margin-bottom: 6rem;
  }
  
  .festpc{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

@media (min-width: 1300px) {
  header {
    min-height: 9rem;
    /* justify-content: space-between; */
    margin-left: 2.4rem;
    /* max-width: 100rem; */
  }
  
  .img-header{
    /* min-width: 26.0rem; */
    /* margin-left: 25rem; */
    width: 47%;
    padding: 0;
  }

  .li-right{
    
margin-left: 10rem;
  }

.li-left{
  margin-right: 10rem;
}

.warning {
  display: none;
}

  h1 {
    font-size: 6.6rem;
    font-weight: 500;
    line-height: 7.9rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  p{
    font-size: 2rem;
  }

  .volunteers {
    padding-left: 10rem;
    padding-right: 5.9rem;
    margin: 1.9rem 0 1.9rem 0;
    justify-content: start;
  }

  .volun {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .learn-button
  {
    color: var(--primary-color1);
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: 0;
    padding-left: 4.95rem;
    padding-right: 4.95rem;
    background-color: var(--primary-color9);
    margin-right: 24rem;
    text-align: center;
    display: list-item;
    padding-bottom: 1.6rem;
    padding-top: 1.5rem;
    line-height: 2.1rem;
    list-style-type: none;
    width: auto;
  }

  .img-volunteers {
    /* margin-right: 16.56rem; */
    /* margin-bottom: 4.5rem; */
    width: 95%;
  }

  #id-make-magical {
    font-size: 2.9rem;
    line-height: 130%;
    margin: 0;
  }

  .mathpoolis {
    /* font-size: 2rem; */
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
    max-width: 60.6rem;
    margin-left: 0;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 24.2rem 5rem 24.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 6.76rem;
    /* text-align: start; */
    /* min-width: 50.9rem; */
    /* margin-left: 0; */
    /* margin-bottom: 2rem; */
  }

  .class-center {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    text-align: center;
    padding: 0;
    margin: 4rem auto 2rem auto;
  }

  .class-david {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-align: center;
  }

  #david-2 {
    margin: 0.5rem auto 3rem auto;
  }


  .lead1 {
    display: flex;
    width: 58.9rem;
    padding: 0;
    justify-content: start;
    margin-top: 14.36rem;
    flex-direction: column;
  }

  .header{
    display: flex;
  }

  #button {
    line-height: 2.1rem;
    text-align: left;
    margin: 0;
    max-width: 28.4rem;
    display: flex;
    justify-content: space-around;
  }

  .head-button{
    color: var(--primary-color2);
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: 0;
    padding-left: 4.2rem;
    padding-right: 4.2rem;
    background-color: var(--primary-color8);
    margin-right: 5.4rem;
    text-align: center;
    display: list-item;
    padding-bottom: 1.6rem;
    padding-top: 1.5rem;
    line-height: 2.1rem;
    box-shadow: 0.5rem 0.5rem 3rem 0.5rem #dddddd;
    }

  .lead {
    text-align: left;
    font-size: 5.2rem;
    line-height: 6.76rem;
  }

  .final-text{
    max-width: 30.8rem;
    margin-left: 0;
    margin-top: 2rem;
  }

  .icon li{

width: 78%;

}

.Testimonials{
  text-align: center;
  /* font-size: 4rem; */
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

  .icon{  
justify-content: flex-start;
padding: 0;
  }

  #follow{
  text-align: start;
  margin-left: 0;
  }

  .foot1{
    display: flex;
    flex-direction: column;
  }

  .foot-big{
    display: flex;
    justify-content: space-around;
  }

  .foot2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .imgdiv{
    margin: 0;
  }
  .foot-img{
    width: 101%;
    margin-left: 0;
    margin-top: 3.9rem;
  }

  .img-host{
    width: 100%;
    display: flex;
  }

  .img-lead{
    margin: 0;
    width: 100%;
  }

  .img2 {
    width: 929px;
    height: 1017px;
  }

  .img-run{
    width: 100%;
  }

  .leadpc {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .classpc {
    /* margin-left: 24.5rem; */
    /* margin-right: 10.7rem; */
    /* margin-top: 14.6rem; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
  }

  .classroom {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 10rem 0 10rem 0;
  }

  #run{
    text-align: left;
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 6.76rem;
    min-width: 51.2rem;
    margin: 0;
  }

  #lead-virtual{
    font-size: 2rem;
    margin: 0;
  }

  .col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 45.8rem;
    margin-left: 5rem;
  }

  .fest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 23.9rem;
  }

  .math-p{
    min-width: 45.9rem;
    margin: 0;
    margin-bottom: 6rem;
  }
  
  .festpc{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}


